<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.cornerstone.system.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.space.cornerstone.system.domain.entity.SysMenu">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="parentId"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="SORT" jdbcType="INTEGER" property="sort"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="COMPONENT" jdbcType="VARCHAR" property="component"/>
        <result column="LEVEL" jdbcType="INTEGER" property="level"/>
        <result column="MENU_TYPE" jdbcType="CHAR" property="menuType"/>
        <result column="ACTIVE" jdbcType="BOOLEAN" property="active"/>
        <result column="ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, parent_id, code, sort, url, component, `level`, menu_type, active, icon,
        create_by, create_time, update_by, update_time, remark
    </sql>

    <sql id="Alias_Column_List">
        M.id,M.`name`,M.parent_id,M.code,M.sort,M.url,M.component,M.`level`,M.menu_type,M.active,M.icon,M.create_by,M.create_time,
        M.update_by,M.update_time,M.remark
    </sql>

    <select id="findMenuByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Alias_Column_List" />
        FROM SYS_MENU M
        LEFT JOIN SYS_ROLE_MENU RM ON M.ID = RM.MENU_ID
        LEFT JOIN SYS_USER_ROLE UR ON UR.ROLE_ID = RM.ROLE_ID
        LEFT JOIN SYS_ROLE R ON R.ID = UR.ROLE_ID
        WHERE M.ACTIVE = 1 AND R.ACTIVE = 1 AND UR.USER_ID = #{userId}

    </select>
</mapper>