<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.cornerstone.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.space.cornerstone.system.domain.entity.SysUser">
        <!--@mbg.generated-->
        <!--@Table SYS_USER-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="active" jdbcType="BOOLEAN" property="active"/>
        <result column="delete_flag" jdbcType="BOOLEAN" property="deleteFlag"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="lock_flag" jdbcType="BOOLEAN" property="lockFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, DEPT_ID, USER_NAME, NICK_NAME, `TYPE`, EMAIL, PHONE, SEX, IMAGE, `PASSWORD`,
        ACTIVE, DELETE_FLAG, LOGIN_IP, LOGIN_DATE, VERSION, LOCK_FLAG, REMARK, CREATE_BY,
        CREATE_TIME, UPDATE_BY, UPDATE_TIME
    </sql>

    <sql id="Alias_Column_List">
        U.id,U.dept_id,U.user_name,U.nick_name,U.`type`,U.email,U.phone,U.sex,U.image,U.PASSWORD,U.active,U.delete_flag,
        U.login_ip,U.login_date,U.version,U.lock_flag,U.remark,U.create_by,U.create_time,U.update_by,U.update_time
    </sql>

    <resultMap id="AuthInfo" type="com.space.cornerstone.system.domain.vo.UserVo">
        <association property="user" javaType="com.space.cornerstone.system.domain.entity.SysUser">
            <id column="ID" property="id"/>
            <result column="DEPT_ID" property="deptId"/>
            <result column="USER_NAME" property="userName"/>
            <result column="NICK_NAME" property="nickName"/>
            <result column="TYPE" property="type"/>
            <result column="EMAIL" property="email"/>
            <result column="PHONE" property="phone"/>
            <result column="SEX" property="sex"/>
            <result column="IMAGE" property="image"/>
            <result column="ACTIVE" property="active"/>
            <result column="DELETE_FLAG" property="deleteFlag"/>
            <result column="LOGIN_IP" property="loginIp"/>
            <result column="LOGIN_DATE" property="loginDate"/>
            <result column="LOCK_FLAG" property="lockFlag"/>
            <result column="REMARK" property="remark"/>
            <result column="CREATE_TIME" property="createTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <result column="CREATE_BY" property="createBy"/>
            <result column="UPDATE_BY" property="updateBy"/>
            <result column="VERSION" property="version"/>
            <collection property="roles" ofType="com.space.cornerstone.system.domain.entity.SysRole" columnPrefix="R_">
                <id column="id" property="id"/>
                <result column="name" property="name"/>
                <result column="code" property="code"/>
                <result column="sort" property="sort"/>
                <result column="remark" property="remark"/>
                <result column="active" property="active"/>
                <result column="CREATE_TIME" property="createTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="CREATE_BY" property="createBy"/>
                <result column="UPDATE_BY" property="updateBy"/>
            </collection>
        </association>
        <collection property="menus" ofType="com.space.cornerstone.system.domain.vo.SysMenuTreeVo" columnPrefix="M_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="parent_id" property="parentId"/>
            <result column="code" property="code"/>
            <result column="sort" property="sort"/>
            <result column="url" property="url"/>
            <result column="component" property="component"/>
            <result column="level" property="level"/>
            <result column="menu_type" property="menuType"/>
            <result column="icon" property="icon"/>
            <result column="remark" property="remark"/>
            <result column="active" property="active"/>
            <result column="CREATE_TIME" property="createTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <result column="CREATE_BY" property="createBy"/>
            <result column="UPDATE_BY" property="updateBy"/>
        </collection>
    </resultMap>

    <select id="findAuthInfoByUserId" parameterType="long" resultMap="AuthInfo">
        SELECT
        <include refid="Alias_Column_List"/>,
        R.id R_id,R.name R_name,R.code R_code,R.sort R_sort,R.active R_active,R.CREATE_BY R_create_by,
        R.CREATE_TIME R_create_time,R.UPDATE_BY R_update_by,R.UPDATE_TIME R_update_time,R.remark R_remark,
        M.id M_id,M.`name` M_name,M.parent_id M_parent_id,M.code M_code,M.sort M_sort,M.url M_url,
        M.component M_component,M.`level` M_level,M.menu_type M_menu_type,M.active M_active,M.icon M_icon,
        M.create_by M_create_by,M.create_time M_create_time,M.update_by M_update_by,M.update_time M_update_time,M.remark M_remark
        FROM SYS_USER               U LEFT JOIN SYS_USER_ROLE UR ON U.ID = UR.USER_ID
        LEFT JOIN SYS_ROLE      R ON UR.ROLE_ID = R.ID AND R.ACTIVE = 1
        LEFT JOIN SYS_ROLE_MENU RM ON R.ID = RM.ROLE_ID
        LEFT JOIN SYS_MENU      M ON M.ID = RM.MENU_ID AND M.ACTIVE = 1
        WHERE U.ID = #{userId}
    </select>

    <select id="findSysUserList" resultType="com.space.cornerstone.system.domain.vo.SysUserQueryVo">
        SELECT
        <include refid="Alias_Column_List"/>
        FROM SYS_USER U LEFT JOIN SYS_DEPT SD ON U.DEPT_ID = SD.ID
        WHERE U.DELETE_FLAG = 1
        <if test="param.active != null ">
            AND U.ACTIVE = #{param.active}
        </if>
        <if test="param.deptId != null ">
            AND U.DEPT_ID = #{param.deptId}
        </if>
        <if test="param.beginTime != null">
            AND U.CREATE_TIME >= #{param.beginTime}
        </if>
        <if test="param.endTime != null">
            AND U.CREATE_TIME <![CDATA[<=]]> #{param.endTime}
        </if>
        <if test="param.searchValue != null ">
            AND U.NICK_NAME like concat('%', #{param.searchValue} ,'%')
        </if>
    </select>

</mapper>