<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.cornerstone.framework.core.mapper.SysDictDataMapper">
  <resultMap id="BaseResultMap" type="com.space.cornerstone.framework.core.domain.entity.system.SysDictData">
    <!--@mbg.generated-->
    <!--@Table sys_dict_data-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TYPE_CODE" jdbcType="VARCHAR" property="typeCode" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="CSS_CLASS" jdbcType="VARCHAR" property="cssClass" />
    <result column="LIST_CLASS" jdbcType="VARCHAR" property="listClass" />
    <result column="IS_DEFAULT" jdbcType="BOOLEAN" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, TYPE_CODE, CODE, SORT, `NAME`, `VALUE`, CSS_CLASS, LIST_CLASS, IS_DEFAULT
  </sql>
</mapper>