<div class="w-full h-full" fxLayout="row wrap">
  <mat-card class="mat-elevation-z4 m-auto" style="max-width: 380px;">
    <mat-card-title class="text-center m-b-24">{{'login.title' | translate}}</mat-card-title>
    <form class="form-field-full" [formGroup]="loginForm">

      <mat-form-field appearance="outline">
        <mat-label>{{'login.username' | translate}}: admin</mat-label>
        <input matInput placeholder="admin" formControlName="username" required>
        <mat-error *ngIf="username?.invalid">
          <span *ngIf="username?.errors?.required">
            {{'login.please_enter' | translate}} <strong>admin</strong>
          </span>

          <span *ngIf="username?.errors?.remote">
            {{ username?.errors?.remote }}
          </span>
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" fxLayout="row">
        <mat-label>{{'login.password' | translate}}: admin</mat-label>
        <input matInput placeholder="admin" type="password"
               formControlName="password" required>
        <mat-error *ngIf="password?.invalid">
          <span *ngIf="password?.errors?.required">
            {{'login.please_enter' | translate}} <strong>admin</strong>
          </span>

          <span *ngIf="password?.errors?.remote">
            {{ password?.errors?.remote }}
          </span>
        </mat-error>
      </mat-form-field>


      <button class="w-full" mat-raised-button color="primary"
              [disabled]="loginForm.invalid"
              (click)="login()">{{'login.login' | translate}}</button>
    </form>
  </mat-card>
</div>

<h1 class="my-8 text-center text-6xl font-bold"><span class="text-teal-500  text-blue-500">TailwindCSS</span> and <span class="text-red-600">Angular</span> is awesome!</h1>
<p class="text-center text-3xl">啊实打实Thanks forsss reading!</p>
